<div class="badge">
  <img src="./assets/imagination.jpg" alt="">
  Imagination time!
</div>

<div class="enrique">
  <p>Enrique's plan</p>
  <img src="./assets/user.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/pay.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/home.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/play.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/play.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/store.png">
</div>

<div class="enrique">
  <p>Enrique's new plan</p>
  <img src="./assets/user.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/home.png">

  <img class="next" src="./assets/next.png">
  <img src="./assets/calendar.png">

  <img class="next" src="./assets/next.png">
  <img src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/pay.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/home.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/play.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/play.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/store.png">
</div>

<div class="enrique">
  <p>Enrique's new final plan</p>
  <img src="./assets/user.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/home.png">

  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/calendar.png">

  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/home.png">

  <img class="next" src="./assets/next.png">
  <img src="./assets/calendar.png">

  <img class="next" src="./assets/next.png">
  <img src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/pay.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/home.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/play.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/play.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/store.png">
</div>

<div class="enrique">
  <p>Enrique's synder cut plan</p>
  <img src="./assets/user.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/home.png">

  <img class="next" src="./assets/next.png">
  <img class="done"  src="./assets/calendar.png">

  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/home.png">

  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/calendar.png">

  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img class="done" src="./assets/home.png">

  <img class="next" src="./assets/next.png">
  <img src="./assets/calendar.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/calendar.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/calendar.png">

  <img class="next" src="./assets/next.png">
  <img src="./assets/pray.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/store.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/vinyl.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/pay.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/home.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/play.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/play.png">
  <img class="next" src="./assets/next.png">
  <img src="./assets/store.png">
</div>



<div class="enrique">
  <p>Enrique's acceptance </p>
  <img class="big" src="./assets/insult.png">

  <img class="next big" src="./assets/next.png">
  <img class="big" src="./assets/idea.png">
</div>